@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.titlecontainer p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.titlecontainer {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:3.0rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    background: #0f0c29;
    background-image: linear-gradient(to right bottom, #050414, #060518, #07051b, #08061e, #090621, #0b0924, #0d0c28, #0e0e2b, #11122f, #141634, #181938, #1c1c3d);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 5px;
    margin: 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    z-index: -100;
}
.hero h1{
    font-size: 800%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero p{
    font-size: 300%;
    color: #ffffff;
    align-items: center;
}

.hero {
    position: relative;
    overflow: hidden;
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  #chatbot-icon {
    animation: moveUpDown 2s infinite;
    cursor: pointer;
    width: 55px;
  }
  
  @media (max-width: 768px) {
    .about_section .img-box {
      margin-bottom: 45px;
    }
  
  } 

@media screen and (min-width: 992px) {
    .hero {
        height: 100vh;
    }

    .custom-video,
    .news-detail-image {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }

    .sticky-wrapper {
        position: relative;
        bottom: 76px;
    }
}
@media screen and (max-width: 1050px) {
    .hero {
        height: 100vh;
    }

    .custom-video,
    .news-detail-image {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }

    .sticky-wrapper {
        position: relative;
        bottom: 76px;
    }
    .header-container .header .row img{
        display: none;
    }
    .header-container p {
        font-size: 60%;
        margin: 50px;
    }
    .grid-container{
        display: row;
    }
}

/* Styling for the header */
.header-container {
    text-align: center;
    margin-bottom: 10px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 15px;
    padding-bottom: 30px;
    width: 95%;
    margin: auto;
    padding-top: 10px;
}
.header-container .header .row{
    background-color: rgb(184, 210, 250);
    justify-content: center;
    height: 45%;
    width: 85%;
    align-items: center;
    border-radius: 10px;
    color: #04012d;
    
}

.header-container .header .row img{
    
    width: 50PX;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    margin-left: 10px;
    /* Add spacing between h1 and logo-2 */
    
}
.header-container .header .row h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size:2.3rem;
    margin-left: 10% auto;
    margin-right: 10% auto;

}
.heroText {
    position: absolute;
    justify-content: center;
    font-size: 10px;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    color: #000000;
}

h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 1, 54);
    opacity: 0;
    /* Start with the elements hidden */
    animation-duration: 2s;
    /* Set the animation duration */
    animation-fill-mode: forwards;
    /* Keep the animation end state */
}

/* Fade-in animation for <h2> */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start hidden */
    }

    to {
        opacity: 1;
        /* End visible */
    }
}

/* Slide-in animation for <h3> */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        /* Start off-screen */
        opacity: 0;
        /* Start hidden */
    }

    to {
        transform: translateX(0);
        /* End in place */
        opacity: 1;
        /* End visible */
    }
}

/* Apply animations to the tags */
h2 {
    animation-name: fadeIn;
    /* Apply fade-in animation to <h2> */
    animation-delay: 0.5s;
    /* Delay the start of the animation */
}

h3 {
    animation-name: fadeIn;
    /* Apply slide-in animation to <h3> */
    animation-delay: 1s;
    /* Delay the start of the animation */
}

/* Styling for the header text */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

/* Styling for the logo */

/* Styling for the paragraph */
.header-container p {
    margin-top: 5px;
    /* Reduce the margin above the paragraph to minimize the gap */
    font-size: 85%;
    /* Font size */
    line-height: 1.9;
    /* Line height for better readability */
    color: rgb(0, 13, 35); 
    border-radius: 10px;
    border-width: 0.8px; 
    border-color: #97d5fc; 
    justify-content: center; 
    font-family: 'Times New Roman', Times, serif;
}

/* Styling for the image container */
.image-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* Spacing between images */
    margin-top: 10px;
    /* Margin on top */
}

.image-1 img,
.image-2 img,
.image-3 img {
    width: 300px;
    /* Adjust the width as needed */
    height: 110px;
    /* Adjust the height as needed */
    object-fit: fill;
    /* Ensures the image covers the container without distortion */
    border-radius: 10px;
    /* Optional: Adds rounded corners */
}


/* Styling for the <h2> and <h3> tags */
h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 1, 54);
}

.btn-1,
.btn-2 {
    color: rgb(1, 0, 23);
    background-color: wheat;
    width: 270px;
    height: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
}

.btn-3 {
    color: rgb(1, 0, 23);
    background-color: wheat;
    width: 450px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 40px;
}

.btn-4 {
    width: 750px;
    margin: auto;
    height: 105px;
    border-radius: 10px;
    background: linear-gradient(to right, #fae5b8b2, #fd8d258d);
    /* Gradient background */
    box-shadow: 0 4px 6px rgb(5, 23, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #0c0353;
    padding-top: 10px;

}

#sty {
    background-image: url("/sty.gif");
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    font-weight: bold;
    font-size: 1.9rem;
}

/* Styling for the hr element */
.hr hr {
    width: 90%;
    /* Set the width to 50% of the container */
    height: 0.8px;
    /* Set the height to 5 pixels for increased thickness */
    background-color: rgb(187, 212, 253);
    /* Set the color of the line */
    border: none;
    /* Remove the default border styling */
    margin: 0 auto;
    /* Center the line horizontally */
}

.hrr hr {
    width: 90%;
    /* Set the width to 50% of the container */
    height: 1.8px;
    /* Set the height to 5 pixels for increased thickness */
    background-color: rgb(7, 0, 25);
    /* Set the color of the line */
    border: none;
    /* Remove the default border styling */
    margin: 0 auto;
    /* Center the line horizontally */
}

vl {
    border-left: 1.8px solid rgb(7, 0, 25);
    height: 350px;
}

/* Styling for the flex container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

}

/* Hero bar styling */
.hero-bar {
    width: 70%;
    height: 500px;
    overflow: hidden;
    /* Hides images outside the view */
    position: relative;
    border-radius: 10px;
}

.hero-slide {
    background-image: url('your-.jpg');
    /* Replace 'your-image-url.jpg' with the URL of your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    /* Text color */
    text-align: center;
    padding: 100px 0;
    /* Adjust the padding as needed */
}

.hero-content {
    max-width: 800px;
    /* Adjust the maximum width of the content */
    margin: 0 auto;
    /* Center the content horizontally */
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slideAnimation 20s infinite;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.slide:nth-child(6) {
    left: 500%;
}

.slide:nth-child(7) {
    left: 600%;
}

/* Animation for the slides */
@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    16.6% {
        transform: translateX(-100%);
    }

    33.2% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-300%);
    }

    66.6% {
        transform: translateX(-400%);
    }

    83.3% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(-600%);
    }

}

/* Image styling */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #000221;
    /* Dark blue background */
    color: wheat;
    /* Wheat color text */
    width: 96%;
    /* Footer width */
    margin: auto;
    /* Center the footer */
    padding: 10px;
    /* Padding inside the footer */
    margin-bottom: 10px;
    /* Margin at the bottom of the footer */
    height: 250px;
    /* Adjusted height of the footer */
    border-radius: 10px;
    /* Rounded corners */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Space out the content */
}

.footer-container {
    display: grid;
    /* Use grid layout */
    grid-template-columns: repeat(4, 1fr);
    /* Create 3 columns */
    gap: 20px;
    /* Spacing between columns */
}

/* Quick links section */
.quick-links ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    /* No padding */
}

.quick-links ul li a {
    color: wheat;
    /* Wheat color for links */
    font-size: 1.3rem;
    /* Increased font size for quick links */
    display: flex;
    text-decoration: none;
    /* No underline */
    transition: color 0.3s;
    /* Smooth color transition on hover */
}

.quick-links ul li a:hover {
    color: rgb(7, 0, 25);
    /* Dark blue color on hover */
}

footer-section {
    padding: 10px;
}

h4 {
    font-size: 1.2rem;
    color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p,
ul {
    font-size: 0.9rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

ul li a {
    color: wheat;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


.footer-credit {
    text-align: center;
    display: flex;
    padding-top: -40px;
    font-size: medium;
    /* Font size */
    color: wheat;
    margin: auto;
    margin-top: -30px;
    /* Margin to separate from above content */
}

/* Styles for the new 1x2 layout section */
.image-section {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 100px;
    /* Spacing between the containers */
    margin-top: 20px;
    /* Margin on top */
    width: 800px;
    height: 350px;
}

/* Styling for each image container */
.image-container-1,
.image-container-2 {
    width: 300px;
    /* Take up nearly half the width each */
    height: 340px;
    /* Adjust the height as needed */
    border-radius: 10px;
    /* Optional: round the corners */
    overflow: hidden;
    background-color: #000221;
    padding-top: 20px;
}

.form-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #080048b2, #05002b);
    /* Gradient background */
    box-shadow: 0 4px 6px rgb(5, 0, 29);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

/* Styles for form labels */
.form-display {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Styles for form inputs */
input[type="text"],
input[type="number"],
input[type="tel"] {
    /* Include input[type="tel"] for phone number input */
    width: calc(100% - 30px);
    height: 30px;
    /* Set the height to 40px */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
}

/* Styles for submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #f4d695, #e8761f);
    /* Gradient background */
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, hsl(21, 91%, 64%), #f65d0a);
    /* Gradient background on hover */
}

/* Styling for the images inside the containers */
.image-container-1 img,
.image-container-2 img {
    width: 90%;
    /* Full width */
    height: 80%;
    /* Full height */
    object-fit: cover;
    /* Ensure the images fill the containers */
    border-radius: 10px;
}

/* Floating icon styling */
.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 60px;
    border-radius: 100%;
    background-color: #090119;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgb(32, 48, 174);
    /* Ensure it stays on top */
}

/* Popup container styling */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 201, 252, 0.5);
    z-index: 999;
    /* Overlay on top of the page */
    justify-content: center;
    align-items: center;
}

/* Styling for the popup content */
/* Default Styles for larger screens */
.popup-content {
    background-color: rgb(116, 183, 241);
    width: 520px;
    height: 510px;
    padding: 20px;
    border-radius: 10px;
}

iframe {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.hero-slide {
    position: relative;
    width: 93%;
    margin: auto;
    overflow: hidden;
    height: 200px;
    /* Adjust height as needed */
}

.slide-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #080048b2, #05002b);
    /* Gradient background */
    box-shadow: 0 4px 6px rgb(5, 0, 29);
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide-container.active {
    opacity: 1;
}

.content-container {
    position: absolute;
    top: 50%;
    background-color: wheat;
    left: 50%;
    width: 750px;
    padding: 5px;
    height: 200px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #05002b;
}

.content-container h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-container p {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    margin-left: 80px;
    color: #05002b;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(247, 218, 123);
    border-radius: 5px;
    color: #000;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1000;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

/* Styling for the floating text above the floating icon */
.floating-text {
    position: fixed;
    bottom: 85px;
    right: 8px;
    font-size: 0.9rem;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(17, 15, 46);
    box-shadow: 0 4px 6px rgb(32, 48, 174);
    border-radius: 10px;
    font-weight: bold;
    color: wheat;
}

/* Glow effect animation for the floating text */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0 0 20px rgb(190, 223, 249);
    }
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.container-menu {
    max-width: 800px; /* Optimized container width */
    margin: 0 auto; /* Center alignment */
    padding: 0 20px; /* Adjust padding for container */
}

.skills {
    padding: 30px 0; /* Reduced padding for the skills section */
}

.skills-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default 3-column grid */
    gap: 50px; /* Space between grid items */
    width: 100%;
}

/* Responsive for tablets and smaller screens */
@media (max-width: 768px) {
    .skills-flex-container {
        grid-template-columns: repeat(2, 1fr); /* 2-column grid for tablets */
        gap: 20px; /* Reduced gap */
    }
}

/* Responsive for mobile phones */
@media (max-width: 480px) {
    .skills-flex-container {
        grid-template-columns: 1fr; /* 1-column grid for small mobile screens */
    }
}

.box {
    background-color: #040023; /* Dark background color */
    box-shadow: rgba(1, 11, 70, 0.5) 0 0 24px; /* Box shadow for depth */
    padding: 20px; /* Padding inside the box */
    height: 160px; /* Fixed height */
    text-align: center; /* Center text alignment */
    border: 10px solid #064581; /* Blue border */
    transition: all 0.3s ease-in; /* Smooth transition on hover */
}

.box:hover {
    transform: scale(1.05); /* Slight scale on hover */
}

.image {
    transition: all 0.3s ease-in-out 0.1s; /* Smooth image transition */
}

.image img {
    max-width: 120px; /* Maximum width for images */
    object-fit: contain; /* Ensures image maintains aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.box:hover .image img {
    transform: scale(1.1); /* Slight image zoom on hover */
}


.title {
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(216, 231, 252);
    transition: all 0.3s ease-in-out;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 30px;
    transform: scale(1.1);
}

.box:hover .image {
    transform: scale(1.5) translateY(-20px);
}

.box:hover .image img {
    animation: bouncing 0.5s 0.3s;
}

.box:hover .title {
    letter-spacing: 2px;
}

.box .image img {
    max-width: 80px;
}


@keyframes bouncing {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.absolute {
    position: absolute;
}

.inline-block {
    display: inline-block;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 270px;
    margin-bottom: 0;
}

.w-2 {
    width: 0.5em;
}

.dash {
    animation: dashArray 4s ease-in-out infinite,
        dashOffset 4s linear infinite;
    /* Slowed down */
}

.spin {
    animation: spinDashArray 4s ease-in-out infinite,
        spin 12s ease-in-out infinite,
        /* Slowed down */
        dashOffset 4s linear infinite;
    /* Slowed down */
    transform-origin: center;
}

@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}

@keyframes spinDashArray {
    0% {
        stroke-dasharray: 270 90;
    }

    50% {
        stroke-dasharray: 0 360;
    }

    100% {
        stroke-dasharray: 270 90;
    }
}

@keyframes dashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    12.5%,
    25% {
        rotate: 270deg;
    }

    37.5%,
    50% {
        rotate: 540deg;
    }

    62.5%,
    75% {
        rotate: 810deg;
    }

    87.5%,
    100% {
        rotate: 1080deg;
    }
}

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr auto 1fr;
    /* Adjusts space for the vertical line */
    align-items: center;
    gap: 16px;
    /* Space between items */
    animation: popUp 2s ease-in-out;
    /* Pop-up animation for the whole container */
   

}

.vertical-line {
    width: 1.3px;
    /* Adjust thickness */
    background-color: #b0c8fc;
    /* Color of the line */
    height: 330px;
    /* Adjust height */
    animation: popUp 2.2s ease-in-out;
}

.content-des {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align to the left */
    text-align: left;
    /* Align text to the left */
}

.btn-5 {
    width: 520px;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #fae5b8b2, #fba3508d);
    /* Gradient background */
    box-shadow: 0 4px 6px #003a75;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: #0c0353;
    padding-top: 8px;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin-left: 30%;
}

.kreaticon-text {
    margin-top: -45px;
    font-size: 2.8rem;
    text-align: right;
    margin-left: 60%;
    animation: slideInFromLeft 2s ease-out;
    /* Apply the animation */
    opacity: 1;
    /* Ensure visibility */
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.ideathon-description {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-top: 0;
    /* Remove margin gap */
    animation: popUp 2.4s ease-in-out;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loader-wrapper,
.vertical-line,
.content-des {
    animation: popup 0.5s ease-out;
}

.content-agenda {
    display: flex;
    margin-left: -30%;
    flex-direction: column;
    align-items: flex-start;
    /* Align to the left */
    text-align: left;
    /* Align text to the left */
}
.content-agenda p {
    color: rgb(162, 204, 241);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-agenda h2 {
    color: rgb(174, 212, 245);
    font-size: 1.9rem;
}


.layout_padding {
    padding: 90px 0;
  }
  
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .heading_container h2 {
    position: relative;
    color: #a4dafb;
    font-weight: bold;
    margin-bottom: -20px;
  }
  
  .heading_container h2 span {
    color: #ffffff;
  }
  
  .heading_container p {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  @keyframes upDown {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
    50% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
    100% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
  }
  
  .about_section {

    color: #ffffff;
  }
  
  .about_section .heading_container {
    margin-bottom: 45px;
  }
  
  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .img-box embed {
    width: 250px; 
    height: 350px;
    -webkit-animation: upDown 5s infinite;
            animation: upDown 5s infinite;
  }
  
  .about_section .detail-box h3 {
    font-weight: bold;
  }
  
  .about_section .detail-box p {
    margin-right: 50px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(164, 218, 251);
    color: #000000;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  .about_section .detail-box a:hover {
    background-color: #15cef3;
    color: #051456;
    font-weight:bolder;
  }
  
  
  /* Footer bar */
  .info_section {
    text-align: center;
    background-image: linear-gradient(to right bottom, #050414, #060518, #07051b, #08061e, #090621, #0b0924, #0d0c28, #0e0e2b, #11122f, #141634, #181938, #1c1c3d);
    color: #ffffff;
    padding: 45px 0 15px 0;
  }
  .info_section .row{
    justify-content: center;
    margin-left: 10px;
  }
  .info_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .info_section .info_col {
    margin-bottom: 30px;
  }
  
  .info_section .info_contact .contact_link_box {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .info_section .info_contact .contact_link_box a:hover {
    color: #0f0c29;
  }
  
 
  .info_section .info_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .info_section .info_links a {
    display: inline-block;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 5px;
    
  }
  .info_section .info_links a:hover {
    color: #0f0c29;
  }
  

  

  
